.index {
  &-background {
    position: absolute;
    max-height: 800px;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;

    &__image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;


      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    
    &__filters {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }

    &__filter {
      &_clouds {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__wrapper {
    margin: 65px auto 0px;
  }

  &-info {
    text-align: center;

    &__title {
      font-family: $secondary-font;
      font-size: vw(60, 28);
      line-height: vw(70, 40);
      margin-bottom: 28px;
    }
  
    &__subtitle {
      font-size: vw(32, 20);
      line-height: vw(37, 23);
      margin-bottom: vw(0, 25);
    }
  
    &__price {
      font-size: vw(35, 24);
      line-height: vw(70, 50);
      margin-bottom: 35px;
    }

    // &__button-get-price {
    //   margin-bottom: 41px;
    // }

    &__cards {
      display: flex;
      overflow: auto;
      justify-content: center;
      padding: 40px 0px;

      @include mediaMaxW(1140) {
        justify-content: flex-start;
        padding-left: 15px;
      }
    }

    &__card {
      margin-right: 36px;
      
      &:last-child {
        margin-right: 0px;
      }
    }
  }

  &-advantages {
    &__wrapper {
      max-width: 1200px;
      padding: 15px 0 100px;
    }

    &__title {
      margin-bottom: 60px;
    }

    &__bullet {
      position: relative;
      display: inline-block;

      .circle {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 10px;
        background-color: white;
        border-radius: 100%;
        overflow: hidden;
        border: 1px solid $brightCyan;
  
      }

      &_active {
        &:before {
          content: '';
          position: absolute;
          top: 0px;
          left: 50%;
          transform: translateX(-50%);
          width: 20px;
          height: 20px;
          background: $white;
          border: 1px solid $brightCyan;
          border-radius: 50%;
          z-index: -1;
        }

        .circle {
          background-color: $brightCyan;
          box-shadow: 0px 3px 15px $brightCyan;
        }
      }
    }

    .swiper {
      padding: 0 15px;

      &-wrapper {
        height: 370px;
      }

      &-slide {
        height: 150px;
      }
    }
  }

  &-infrastructure {

    &__title {
      margin-bottom: 60px;
    }

    &__map {
      height: 662px;
      width: 100%;
      position: relative;

      .swiper-scrollbar {
        &-drag {
          background-color: $brightCyan;
        }
      }

      &-description {
        position: absolute;
        top: 46px;
        bottom: 46px;
        right: 5%;
        padding-right: 15px;

        @include mediaMaxW(768) {
          width: 100%;
          height: 220px;
          top: 30px;
          right: 50%;
          transform: translateX(50%);
          padding: 0 15px;
        }
      }
    }
  }

  &-residential {
    &__wrapper {
      padding-top: vw(80, 100);
      padding-bottom: vw(65, 100);
    }

    &__title {
      margin-bottom: 30px;
    }

    &__subtitle {
      font-size: vw(22, 18);
      line-height: vw(26, 21);
      text-align: center;
	    color: $darkBlueSecondary;
      margin-bottom: vw(50, 30);

      img {
        margin: 0 5px;
      }
    }

    &__thumbs {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 60px;
    }

    &__thumb {
      max-width: 193px;
      width: 100%;
    }

    &__card {
      position: relative;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
    }

    &__image {
      border-radius: 10px;
      overflow: hidden;

      &:first-child {
        position: relative;
        grid-row: 1 / span 3;
        grid-column: 1 / span 3;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__description {
      position: absolute;
      left: 27px;
      bottom: 54px;
      max-width: vw(540, 290);
      height: vw(378, 266);
      width: 100%;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.85);
      box-shadow: 0px 5px 19px rgba(33, 45, 85, 0.06);
      overflow-y: auto;

      &-wrapper {
        padding: 25px 20px;
      }

      &-title {
        margin-bottom: vw(30, 24);
        font-size: 22px;
        line-height: 27px;
        font-weight: 700;
        color: $darkBlue;
      }

      &-text {
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 18px;
        font-weight: 400;
        color: $darkBlueSecondary;
        
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }

    @include mediaMaxW(1140) {
      &__thumbs {
        flex-direction: column;
      }

      &__thumb {
        max-width: 100%;
        width: 100%;
      }

      &__cards {
        &-container {
          max-width: 100%;
          padding: 0px;
        }
      }
      
      &__card {
        grid-template-columns: repeat(2, 1fr);
      }

      &__image {
        &:first-child {
          grid-column: 2 span;
          height: 553px;
          border-radius: 0px;
        }

        &:nth-child(3) {
          display: none;
        }
      }

      &__description {
        left: 15px;
        bottom: 31px;
      }
    }
  }

  &-leave-request {
    background-color: $lightGrayishCyan;

    &__wrapper {
      padding-top: vw(50, 40);
      padding-bottom: vw(100, 50);
    }

    &__blocks {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
    }

    &__block {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      &:nth-child(1) {
        max-width: 372px;
        padding: 45px 25px 45px 0px;
        border-right: 1px dashed $brightCyan;

        .index-leave-request__status {
          display: none;
        }
      }

      &:nth-child(2) {
        max-width: 164px;
      }

      &:nth-child(3) {
        max-width: 552px;

        .index-leave-request__status {
          display: inline-block;
        }
      }
    }

    &__title {
      margin-bottom: vw(50, 30);
    }

    &__subtitle {
      font-size: vw(22, 18);
      line-height: vw(27, 22);
      font-weight: 700;
      margin-bottom: 20px;
    }


    &__phone {
      display: flex;
      align-items: center;

      &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background-color: white;
        box-shadow: 0px 3px 15px rgba(33, 45, 85, 0.1);
        border-radius: 100%;
        overflow: hidden;
        margin-right: 11px;
      }
    }

    &__status {
      position: relative;
      margin-bottom: 25px;
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
      color: $brightCyan;

      &.active:before {
        content: "";
        width: 7px;
        height: 7px;
        top: 6px;
        left: -10px;
        position: absolute;
        background-color: $brightCyan;
        border-radius: 100%;
      }
    }

    &__text {
      &_phone-number {
        font-size: 24px;
        line-height: 29px;
        font-weight: 700;
      }

      &_fill-number {
        font-size: 16px;
        line-height: 19px;
        font-weight: 700;
      }
    }

    &__form {
      margin-bottom: 25px;

      &-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 25px;
        column-gap: 58px;
      }

      input {
        border: none;
        background-color: transparent;
        color: $grayishBlue;

        &::placeholder {
          color: $grayishBlue;
        }
      }
    }

    &__agree-privacy-policy {
      display: flex;
      align-items: center;
      position: relative;

      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        opacity: 0;
        cursor: pointer;
        z-index: 1;

        &:checked + .checkmark {
          background: url('../images/other/checkbox-check-mark.svg') no-repeat;
          background-position: center;
        }
      }

      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        border-radius: 5px;
        background-color: white;
        box-shadow: 0px 4px 13px rgba(34, 34, 34, 0.15);
      }

      label {
        padding-left: 30px;
      }
      
      span {
        font-size: 14px;
        line-height: 16px;
        font-weight: 250;
      }

      a {
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        color: $brightCyan;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    @include mediaMaxW(1140) {
      &__blocks {
        flex-direction: column;
        align-items: center;
      }

      &__block {
        margin-bottom: 30px;
        max-width: 100%;

        &:nth-child(1) {
          max-width: initial;
          padding: 30px 0 25px;
          border-right: 0px;
          border-bottom: 1px dashed $brightCyan;
          width: 100vw;

          .index-leave-request__status {
            display: inline-block;
            margin-bottom: 30px;
          }
        }

        &:nth-child(2) {
          max-width: 100%;
        }

        &:nth-child(3) {
          max-width: 100%;

          .index-leave-request__status {
            display: none;
          }
        }
        
        &:last-child {
          margin-bottom: 0px;
        }
      }

      &__form {
        width: 100%;

        &-wrapper {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}