.index {
  &-background {
    position: absolute;
    max-height: 800px;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;

    &__image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;


      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    
    &__filters {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }

    &__filter {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__wrapper {
    margin: 65px auto 0px;
  }

  &-info {
    text-align: center;

    &__title {
      font-family: $secondary-font;
      font-size: vw(60, 28);
      line-height: vw(70, 40);
      margin-bottom: 28px;
    }
  
    &__subtitle {
      font-size: vw(32, 20);
      line-height: vw(37, 23);
      margin-bottom: vw(0, 25);
    }
  
    &__price {
      font-size: vw(35, 24);
      line-height: vw(70, 50);
      margin-bottom: 35px;
    }

    &__cards {
      display: flex;
      overflow: auto;
      justify-content: center;
      padding: 40px 0px;

      @include mediaMaxW(1140) {
        justify-content: flex-start;
        padding-left: 15px;
      }
    }

    &__card {
      margin-right: 36px;
      
      &:last-child {
        margin-right: 0px;
      }
    }
  }
}