- 
  var anchors = [
    {'href': '#', 'text': 'Преимущества', active: true}, 
    {'href': '#', 'text': 'Инфраструктура'}, 
    {'href': '#', 'text': 'Планировка'}, 
    {'href': '#', 'text': 'Отделка'}, 
    {'href': '#', 'text': 'Описание'}, 
    {'href': '#', 'text': 'Контакты'}, 
    {'href': '#', 'text': 'Документация'}
  ]

header.header
  .container.header__container
    .header-desktop.--desktop
      .header-desktop__content
        .header-desktop__logo
          a(href="/")
            img(src="./images/other/logo-desc-big.svg", alt="Логотип сайта")
        nav.header-desktop__links
          ul
            li
              a.header-desktop__link.--active(href="#") Жилые комплексы
            li
              a.header-desktop__link(href="#") О компании
            li
              a.header-desktop__link(href="#") Как купить
            li
              a.header-desktop__link(href="#") Контакты
        .header-desktop__contacts 
          a.header-desktop__phone(href='tel:+79183774810') +7 (918) 377-48-10
          a.header-desktop__request-call(href='#' id='requestCall') Заказать звонок
    .header-mobile.--mobile
    .--desktop
      +anchors(anchors)
