- 
  var cardsType1 = [
    {'title': 'Квартиры', 'subtitle': 'от 63 801 ₽/м²', active: true}, 
    {'title': 'Стоимость', 'subtitle': 'от 4,44 млн ₽', active: false},
    {'title': 'Класс', 'subtitle': 'Эконом', active: false},
    {'title': 'Срок сдачи', 'subtitle': 'Сдан', active: false},
  ]

  var cardsType2 = [
    {'title': 'Срок сдачи', 'subtitle': '2015', path: './images/advantages/keys.svg'}, 
    {'title': 'Корпусов', 'subtitle': '2 корпуса', path: './images/advantages/building.svg'}, 
    {'title': 'Этажность', 'subtitle': '10', path: './images/advantages/office-building.svg'},
    {'title': 'Парковка', 'subtitle': 'Гостевая', path: './images/advantages/parking.svg'}, 
    {'title': 'Тип дома', 'subtitle': 'Кирпичный', path: './images/advantages/brickwall.svg'}, 
    {'title': 'Территория', 'subtitle': 'Дет.площадки', path: './images/advantages/children-slide.svg'}, 
    {'title': 'Класс дома', 'subtitle': 'Эконом', path: './images/advantages/star.svg'}, 
    {'title': 'Отделка', 'subtitle': 'Чистовая', path: './images/advantages/putty-knife.svg'}, 
  ]
  
  var cardsType3 = [
    {'title': 'Магазины', href: './images/map/icon-shop-basket.svg', active: false}, 
    {'title': 'ЖК "Яблоновский"', href: './images/map/icon-pin.svg', active: true}, 
    {'title': 'Детский сад', href: './images/map/icon-kiddengarden.svg', active: false}, 
    {'title': 'АЗС', href: './images/map/icon-gas-station.svg', active: false}, 
    {'title': 'Поликлинника', href: './images/map/icon-pharmacy.svg', active: false}, 
    {'title': 'Банк', href: './images/map/icon-bank.svg', active: false}, 
    {'title': 'Кафе', href: './images/map/icon-cafe.svg', active: false}, 
  ]

  var cardsType4 = [
    {'title': 'Парковка', active: false}, 
    {'title': 'Архитектура', active: false}, 
    {'title': 'Охрана', active: false}, 
    {'title': 'Территория', active: true}, 
  ]
  
.index
  .index__wrapper
    .index-info.index__info
      .container.index-info__wrapper
        h1.index-info__title Жилой комплекс 
          span.--text-important «Яблоновский»
        h4.index-info__subtitle Краснодар, пгт. Яблоновский ул. Кобцевой
        h5.index-info__price.--text-important от 63 801 до 65 678 ₽/м²
        a.btn.index-info__button-get-price#buttonGetPrice(href="#") Узнать стоимость проекта
        ul.index-info__cards
          each card in cardsType1
            li.card.card_type-1.index-info__card
              +cardType1(card)
    .index-advantages.index__advantages
      .container.index-advantages__wrapper
        h2.index-advantages__title О комплексе
        .swiper#index-grid-cards
          ul.swiper-wrapper.index-advantages__cards
              each card in cardsType2
                  li.swiper-slide.card.card_type-2.index-advantages__card
                    +cardType2(card)
          .swiper-pagination
    .index-infrastructure.index__infrastructure
      .index-infrastructure__wrapper
        h2.container.index-infrastructure__title Наша инфраструктура
        .index-infrastructure__map
          #infrastructure-map(style="width: 100%; height: 100%;")
          .swiper.index-infrastructure__map-description
            ul.swiper-wrapper.index-infrastructure__cards
              each card in cardsType3
                li.swiper-slide.card.card_type-3.index-infrastructure__card
                  +cardType3(card)
            .swiper-scrollbar
    .index-residential.index__residential-description
      .index-residential__wrapper
        h2.index-residential__title Описание Жилого Комплекса
        .index-residential__subtitle
          span Нажимайте
          img(src="./images/other/arrows.svg")
          span чтобы подробно ознакомится с проектом
        .container.swiper#index-residential-thumbs
          ul.swiper-wrapper.index-residential__thumbs
            each card in cardsType4
              li.swiper-slide.card.card_type-4.index-residential__thumb
                  +cardType4(card)
        .container.swiper#index-residential-cards
          ul.swiper-wrapper.index-residential__cards
            li.swiper-slide.index-residential__card
              p Парковка
            li.swiper-slide.index-residential__card
              p Архитектура
            li.swiper-slide.index-residential__card
              p Охрана
            li.swiper-slide.index-residential__card
              .index-residential__image
                img(src="./images/residental/image-description-desc-big-1.png")
              .index-residential__image
                img(src="./images/residental/image-description-desc-small-1.png")
              .index-residential__image
                img(src="./images/residental/image-description-desc-small-2.png")
              .index-residential__image
                img(src="./images/residental/image-description-desc-small-3.png")
              .index-residential__description
                .index-residential__description-wrapper
                  h5.index-residential__description-title Территория
                  p.index-residential__description-text 
                    | Жилой комплекс "Яблоновский" расположен на ул. Кобцевой Н.С.
                    | в пгт. Яблоновский. За пять минут пешком можно дойти до 
                    | муниципальной поликлиники, школы и детского садика.
                  p.index-residential__description-text 
                    | Этот жилой комплекс располагается в непосредственной 
                    | близости от улицы Гагарина, где проходит абсолютное 
                    | большинство маршрутов общественного транспорта, 
                    | соответственно легко добраться во все части поселка и города 
                    | Краснодар. Тут же располагается магазин «Магнит», «Магнит 
                    | Косметик», МФЦ, овощной рынок, мебельные магазины, аптеки и 
                    | другие предприятия сферы услуг.
    .index-leave-request.index__leave-request
      .container.index-leave-request__wrapper
        h2.index-leave-request__title Узнайте о выгодных предложениях и получите личную консультацию
        .index-leave-request__blocks
          .index-leave-request__block
            span.--mobile.active.index-leave-request__status Сейчас мы работаем
            span.index-leave-request__subtitle По любым возникающим Вами вопросов звоните нам напрямую
            a.index-leave-request__phone(href='tel:+79183774810')
              .index-leave-request__phone-icon
                img(src="./images/other/telephone.svg")
              span.index-leave-request__text_phone-number +7 (918) 377-48-10
          .index-leave-request__block
            span.index-leave-request__text_fill-number Или заполните форму форму
          .index-leave-request__block
            span.--desktop.active.index-leave-request__status Сейчас мы работаем
            form.index-leave-request__form
              .index-leave-request__form-wrapper
                +cardType5()
                  input(type="text" placeholder="Ваше имя")
                +cardType5()
                  input(type="text" placeholder="Ваше имя")
                +cardType5()
                  input(type="text" placeholder="Ваше имя")
                button.btn.index-info__button-get-price#formSubmit(type="submit") Отправить заявку
            .index-leave-request__agree-privacy-policy
              input(type="checkbox" id="input-agree-policy")
              span(class="checkmark")
              label(for="input-agree-policy" class="checker")
                span Я принимаю условия 
                a(href="#") обработки персональных данных 
                
