- 
  var cards = [
    {'title': 'Квартиры', 'price': 'от 63 801 ₽/м²', active: true}, 
    {'title': 'Стоимость', 'price': 'от 4,44 млн ₽', active: false},
    {'title': 'Класс', 'price': 'Эконом', active: false},
    {'title': 'Класс', 'price': 'Эконом', active: false},
  ]

.index
  .container.index__wrapper
    .index-info.index__info
      h1.index-info__title Жилой комплекс 
        span.--text-important «Яблоновский»
      h2.index-info__subtitle Краснодар, пгт. Яблоновский ул. Кобцевой
      h4.index-info__price.--text-important от 63 801 до 65 678 ₽/м²
      a.btn.index-info__button-get-price#buttonGetPrice(href="#") Узнать стоимость проекта
      ul.index-info__cards
        each card in cards
          li.card.card_type-1.index-info__card
            +cardType1(card)

    