- 
  var cardsType1 = [
    {'title': 'Квартиры', 'subtitle': 'от 63 801 ₽/м²', active: true}, 
    {'title': 'Стоимость', 'subtitle': 'от 4,44 млн ₽', active: false},
    {'title': 'Класс', 'subtitle': 'Эконом', active: false},
    {'title': 'Срок сдачи', 'subtitle': 'Сдан', active: false},
  ]

  var cardsType2 = [
    {'title': 'Срок сдачи', 'subtitle': '2015', path: './images/advantages/keys.svg'}, 
    {'title': 'Корпусов', 'subtitle': '2 корпуса', path: './images/advantages/building.svg'}, 
    {'title': 'Этажность', 'subtitle': '10', path: './images/advantages/office-building.svg'},
    {'title': 'Парковка', 'subtitle': 'Гостевая', path: './images/advantages/parking.svg'}, 
    {'title': 'Тип дома', 'subtitle': 'Кирпичный', path: './images/advantages/brickwall.svg'}, 
    {'title': 'Территория', 'subtitle': 'Дет.площадки', path: './images/advantages/children-slide.svg'}, 
    {'title': 'Класс дома', 'subtitle': 'Эконом', path: './images/advantages/star.svg'}, 
    {'title': 'Отделка', 'subtitle': 'Чистовая', path: './images/advantages/putty-knife.svg'}, 
  ]
  
  var cardsType3 = [
    {'title': 'Магазины', href: './images/map/icon-shop-basket.svg', active: false}, 
    {'title': 'ЖК "Яблоновский"', href: './images/map/icon-pin.svg', active: true}, 
    {'title': 'Детский сад', href: './images/map/icon-kiddengarden.svg', active: false}, 
    {'title': 'АЗС', href: './images/map/icon-gas-station.svg', active: false}, 
    {'title': 'Поликлинника', href: './images/map/icon-pharmacy.svg', active: false}, 
    {'title': 'Банк', href: './images/map/icon-bank.svg', active: false}, 
    {'title': 'Кафе', href: './images/map/icon-cafe.svg', active: false}, 
  ]

  var cardsType4 = [
    {'title': 'Парковка', active: false}, 
    {'title': 'Архитектура', active: false}, 
    {'title': 'Охрана', active: false}, 
    {'title': 'Территория', active: true}, 
  ]
  
.index
  .index__wrapper
    .index-info.index__info
      .container.index-info__wrapper
        h1.index-info__title Жилой комплекс 
          span.--text-important «Яблоновский»
        h4.index-info__subtitle Краснодар, пгт. Яблоновский ул. Кобцевой
        h5.index-info__price.--text-important от 63 801 до 65 678 ₽/м²
        a.btn.index-info__button-get-price#buttonGetPrice(href="#") Узнать стоимость проекта
      ul.index-info__cards
        each card in cardsType1
          li.card.card_type-1.index-info__card
            +cardType1(card)
    .advantages.index__advantages
      .container.advantages__wrapper
        h2.advantages__title О комплексе
        .swiper#index-grid-cards
          ul.swiper-wrapper.advantages__cards
              each card in cardsType2
                  li.swiper-slide.card.card_type-2.advantages__card
                    +cardType2(card)
          .swiper-pagination
    .infrastructure.index__infrastructure
      .infrastructure__wrapper
        h2.container.infrastructure__title Наша инфраструктура
        .infrastructure__map
          #index-infrastructure-map(style="width: 100%; height: 100%;")
          .swiper.infrastructure__map-description#index-infrastructure-cards
            ul.swiper-wrapper.infrastructure__cards
              each card in cardsType3
                li.swiper-slide.card.card_type-3.infrastructure__card
                  +cardType3(card)
            .swiper-scrollbar
    .residential.index__residential-description
      .residential__wrapper
        h2.residential__title Описание Жилого Комплекса
        .residential__subtitle
          span Нажимайте
          img(src="./images/other/arrows.svg")
          span чтобы подробно ознакомится с проектом
        .container.swiper#index-residential-thumbs
          ul.swiper-wrapper.residential__thumbs
            each card in cardsType4
              li.swiper-slide.card.card_type-4.residential__thumb
                  +cardType4(card)
        .container.swiper.residential__cards-container#index-residential-cards
          ul.swiper-wrapper.residential__cards
            li.swiper-slide.residential__card
              p Парковка
            li.swiper-slide.residential__card
              p Архитектура
            li.swiper-slide.residential__card
              p Охрана
            li.swiper-slide.residential__card
              .residential__image
                img(src="./images/residental/image-description-desc-big-1.png")
                .residential__description
                  .residential__description-wrapper
                    h5.residential__description-title Территория
                    p.residential__description-text 
                      | Жилой комплекс "Яблоновский" расположен на ул. Кобцевой Н.С.
                      | в пгт. Яблоновский. За пять минут пешком можно дойти до 
                      | муниципальной поликлиники, школы и детского садика.
                    p.residential__description-text 
                      | Этот жилой комплекс располагается в непосредственной 
                      | близости от улицы Гагарина, где проходит абсолютное 
                      | большинство маршрутов общественного транспорта, 
                      | соответственно легко добраться во все части поселка и города 
                      | Краснодар. Тут же располагается магазин «Магнит», «Магнит 
                      | Косметик», МФЦ, овощной рынок, мебельные магазины, аптеки и 
                      | другие предприятия сферы услуг.
              .residential__image
                img(src="./images/residental/image-description-desc-small-1.png")
              .residential__image
                img(src="./images/residental/image-description-desc-small-2.png")
              .residential__image
                img(src="./images/residental/image-description-desc-small-3.png")
    .leave-request.index__leave-request
      .container.leave-request__wrapper
        h2.leave-request__title Узнайте о выгодных предложениях и получите личную консультацию
        .leave-request__blocks
          .leave-request__block
            span.active.leave-request__status Сейчас мы работаем
            span.leave-request__subtitle По любым возникающим Вами вопросов звоните нам напрямую
            a.leave-request__phone(href='tel:+79183774810')
              .leave-request__phone-icon
                img(src="./images/other/telephone.svg")
              span.leave-request__text_phone-number +7 (918) 377-48-10
          .leave-request__block
            span.leave-request__text_fill-number Или заполните форму форму
          .leave-request__block
            span.active.leave-request__status Сейчас мы работаем
            form.leave-request__form
              .leave-request__form-wrapper
                +cardType5()
                  input(type="text" placeholder="Ваше имя" name="fname" required)
                +cardType5()
                  input(type="text" placeholder="Ваш телефон" name="phone" required)
                +cardType5()
                  input(type="email" placeholder="Ваше имя" name="email" required)
                button.btn.leave-request__button-form-submit#formSubmit(type="submit") Отправить заявку
            .leave-request__agree-privacy-policy
              input(type="checkbox" id="input-agree-policy")
              span(class="checkmark")
              label(for="input-agree-policy" class="checker")
                span Я принимаю условия 
                a(href="#") обработки персональных данных 
                
