extends pug/base

prepend vars
	//-

append vars
	- 
		var anchors = [
			{'href': '#', 'text': 'Преимущества', active: true}, 
			{'href': '#', 'text': 'Инфраструктура'}, 
			{'href': '#', 'text': 'Планировка'}, 
			{'href': '#', 'text': 'Отделка'}, 
			{'href': '#', 'text': 'Описание'}, 
			{'href': '#', 'text': 'Контакты'}, 
			{'href': '#', 'text': 'Документация'}
		]

block content
	include pug/components/header
	main.index-page
		.index-background
			.index-background__image
				img(src='./images/other/index-main-image.jpg')
			.index-background__filters
				img.index-background__filter.index-background__filter_clouds(src='./images/other/clouds.png')
				img.index-background__filter.index-background__filter_fog(src='./images/other/fog.png')
		include pug/pages/index
	footer.footer

