html, body {
	font-family: $primary-font;
	color: $darkBlue;
}

a {
	text-decoration: none;
	transition: color 0.2s;
	color: $darkBlue;
	cursor: pointer;

	&:hover {
		color: $brightCyan;
	}
}

.container {
	margin: 0 auto;
	max-width: #{$secondary-container}px;
}

.h1, h1 {

}

.h2, h2 {
	@include font('Gilroy', 45px, 70px, 700, $darkBlue, normal);
	font-size: vw(45, 28);
	line-height: vw(48, 34);
	text-align: center;
}

.--active {
	color: $brightCyan;
}

.--mobile {
	display: none;
}

.--desktop {
	display: block;
}

.--text-important {
	font-weight: 700;
}

@include mediaMaxW(768) {
	.--mobile {
		display: block;
	}

	.--desktop {
		display: none;
	}
}