// MAIN SETTINGS

$max-width-container: 1440px;
$min-width-container: 320px;

$extra-large: 1140px;

// COLORS

$white: #ffffff;
$lightGrayishCyan: #f9fcfd;
$grayishBlue: #a8abb7;
$darkBlueSecondary: #656d89;
$brightCyan: #31bef4;
$darkBlue: #212d55;

// FONTS

$primary-font: 'Gilroy', sans-serif;
$secondary-font: 'Raleway', sans-serif;

