// MAIN SETTINGS

$max-width-container: 1440;
$min-width-container: 320;

$secondary-container: 1140; 

$breakpoints: (
  1140: 1140px,
  768: 768px, 
);
// COLORS

$white: #ffffff;
$lightGrayishCyan: #f9fcfd;
$grayishBlue: #a8abb7;
$darkBlueSecondary: #656d89;
$brightCyan: #31bef4;
$darkBlue: #212d55;

// FONTS

$primary-font: 'Gilroy', sans-serif;
$secondary-font: 'Raleway', sans-serif;
